{% if not bNoBreadcrumb %}
    {% set breadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true, allowMissing: true }) %}
    <nav aria-label="Breadcrumb">
        <ol>
            {%- for entry in breadcrumb %}
                <li class="breadcrumb-item{% if entry.url == page.url %} breadcrumb-item-selected{% endif %}">
                    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ol>
    </nav>
{% endif %}