<footer>
  <section class="container-xl px-3 mt-6 pb-8 px-md-6 color-fg-muted">
    <p>
      Built with <a href="https://www.11ty.dev" class="text-underline">Eleventy</a> and <a href="https://primer.style/" class="text-underline">Primer</a>.
    </p>
  </section>
</footer>