---
title: GAS Companion Documentation
layout: layouts/page
---

<main class="markdown-content container-xl">
    <article  class="markdown-body">
        {{ content | safe }}

        <hr />
        <p>Generated on {{ page.date.toUTCString() }}</p>
    </article>
</main>