---
title: GAS Companion Documentation
layout: layouts/main
---


<main class="markdown-content">
    <article  class="markdown-body">
        {{ content | safe }}

        <hr />
        <p>Generated on {{ page.date.toUTCString() }}</p>
    </article>
</main>
