---
title: GAS Companion Documentation
layout: layouts/main
---

<div class="Layout">
    <div class="Layout-main">
        <div class="container-xl px-md-6">
            <div class="Layout Layout--sidebarPosition-end Layout--flowRow-until-lg Layout--sidebar-narrow">
                <div class="Layout-sidebar p-6">

                    <h2 class="f5">In this page</h2>

                    {{ content | toc | safe }}

                    <ul class="ActionList">
                        <li class="ActionList-item">
                            <span class="ActionList-content">
                                <span class="ActionList-item-label">Action list item</span>
                            </span>
                        </li>
                        <li class="ActionList-item">
                            <span class="ActionList-content">
                                <span class="ActionList-item-label">Action list item</span>
                            </span>
                        </li>
                    </ul>

                    <ul>
                        <li class="ActionList-sectionDivider">
                            <h3 class="ActionList-sectionDivider-title" id="group-id">
                                List group title
                            </h3>
                        </li>
                        <ul class="ActionList" aria-labelledby="group-id">
                            <li class="ActionList-item">
                                <a href="/" class="ActionList-content">
                                    <span class="ActionList-item-label">Group Item</span>
                                </a>
                            </li>
                            <li class="ActionList-item">
                                <a href="/" class="ActionList-content">
                                    <span class="ActionList-item-label">Group Item</span>
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>

                <div class="Layout-main">
                    <main class="p-6">
                        {% include "components/breadcrumb.njk" %}
                        {{ content | safe }}
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="Layout-sidebar color-bg-subtle ">
        {% include "components/sidebar.njk" %}
    </div>
</div>